<div class="container skills-bg ">
  <div class="section-intro pb-85px text-center">
    <h2>Moje umiejętności</h2>
  </div>
  <div class="row skills-container ">
    <div class="col-lg-4 col-sm-6 skills-color">
      <div class="card-service text-center">
        <div class="service-icon">
          <img src="{{skillsImagesService.htmlImg}}" alt="html">
        </div>
        <h3>HTML</h3>
        <p>{{skillsServiceService.html}}</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 skills-color">
      <div class="card-service text-center">
        <div class="service-icon">
          <img src="{{skillsImagesService.cssImg}}" alt="css">
        </div>
        <h3>CSS3</h3>
        <p>{{skillsServiceService.css}}</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 skills-color">
      <div class="card-service text-center">
        <div class="service-icon">
          <img src="{{skillsImagesService.sassImg}}" alt="SASS">
        </div>
        <h3>SASS</h3>
        <p>{{skillsServiceService.sass}}</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 skills-color">
      <div class="card-service text-center">
        <div class="service-icon">
          <img src="{{skillsImagesService.bootstrapImg}}" alt="bootstrap">
        </div>
        <h3>bootstrap</h3>
        <p>{{skillsServiceService.bootstrap}}</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 skills-color">
      <div class="card-service text-center">
        <div class="service-icon">
          <img src="{{skillsImagesService.rwdImg}}" alt="RWD">
        </div>
        <h3>RWD</h3>
        <p>{{skillsServiceService.rwd}}</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 skills-color">
      <div class="card-service text-center">
        <div class="service-icon">
          <img src="{{skillsImagesService.gitImg}}" alt="GIT">
        </div>
        <h3>GIT</h3>
        <p>{{skillsServiceService.git}}</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 skills-color">
      <div class="card-service text-center">
        <div class="service-icon">
          <img src="{{skillsImagesService.javascriptImg}}" alt="JavaScript">
        </div>
        <h3>JavaScript</h3>
        <p>{{skillsServiceService.javascript}}</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 skills-color">
      <div class="card-service text-center">
        <div class="service-icon">
          <img src="{{skillsImagesService.angularImg}}" alt="Angular">
        </div>
        <h3>ANGULAR</h3>
        <p>{{skillsServiceService.angular}}</p>
      </div>
    </div>
  </div>
</div>
