<div class="container skills-bg ">
  <div class="section-intro pb-85px text-center">
    <h2>Moje umiejętności</h2>
  </div>
  <div class="row skills-container ">
    <div class="col-lg-4 col-sm-6 skills-color">
      <div class="card-service text-center">
        <div class="service-icon">
          <img src="assets/images/html5.png" alt="html">
        </div>
        <h3>HTML</h3>
        <p>Stosuję semantyczny kod zgodnie ze standardami W3C</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 skills-color">
      <div class="card-service text-center">
        <div class="service-icon">
          <img src="assets/images/css3.png" alt="css">
        </div>
        <h3>CSS3</h3>
        <p>Kontroluję wygląd oraz układ elementów na stronie internetowej. </p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 skills-color">
      <div class="card-service text-center">
        <div class="service-icon">
          <img src="assets/images/Sass.png" alt="SASS">
        </div>
        <h3>SASS</h3>
        <p>Wykorzystuję składnię do szybszego pisania kodu </p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 skills-color">
      <div class="card-service text-center">
        <div class="service-icon">
          <img src="assets/images/bootstrap.png" alt="">
        </div>
        <h3>BOOSTRAP 4</h3>
        <p>Wykorzystuję gotowe rozwiązania CSS i JS do przyspieszania pracy przy tworzeniu strony internetowej. </p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 skills-color">
      <div class="card-service text-center">
        <div class="service-icon">
          <img src="assets/images/rwd.png" alt="RWD">
        </div>
        <h3>RWD</h3>
        <p>Używam media queries oraz flexboxa do tworzenia responsywnych stron. </p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 skills-color">
      <div class="card-service text-center">
        <div class="service-icon">
          <img src="assets/images/git.png" alt="GIT">
        </div>
        <h3>GIT</h3>
        <p>To narzędzie pozwala mi na kontrolowanie wprowadzania zmian w projekcie.</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 skills-color">
      <div class="card-service text-center">
        <div class="service-icon">
          <img src="assets/images/javascript.png" alt="JavaScript">
        </div>
        <h3>JavaScript</h3>
        <p>Znam podstawy i wykorzystuję do dodania interaktywności stron internetowych.</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 skills-color">
      <div class="card-service text-center">
        <div class="service-icon">
          <img src="assets/images/angular.png" alt="Angular">
        </div>
        <h3>ANGULAR</h3>
        <p>Znam podstawy</p>
      </div>
    </div>
  </div>
</div>
