<div class="row col-12" style="height: 100vh; background: gray">
  <div class="photo-profile  ">
    <img
      src="https://media.licdn.com/dms/image/C4D03AQHHWLQr-8pRrg/profile-displayphoto-shrink_200_200/0?e=1565222400&v=beta&t=AhfuriWpp8C91veJbDiyMSDzmp_pK2tuWXVxv2ukoJQ"
      class=" col-12 img-thumbnail   form-group" alt="Cinque Terre">
  </div>

  <h1 class='col-12-profile-slogan'> O mnie.</h1>
  <h2 class="col-12-profile-about-me">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit omnis cum dolorum
    libero
    temporibus, accusantium
    molestiae minima ad. Dolorem ullam fuga voluptate cum autem nemo, perferendis aspernatur doloribus recusandae
    deleniti?</h2>

</div>
