<div class="container profile-container">
  <div class="row">
    <div class="section-profile  text-center col-lg-12">
      <h2>Cześć, Nazywam się Łukasz Chorągwicki</h2>
    </div>
  </div>
  <div class="row profile-container ">
    <div class="col-lg-12 col-sm-12">
      <div class=" text-center">

        <img src="assets/images/ja.jpg" alt="html">

        <h3>JESTEM FRONT-END DEVELOPEREM</h3>
        <p>Moją pasją od niedawna stało się programowanie. Uwielbiam poznawać
          nowe możliwości
          technologi webowych. 2017 roku postanowiłem rozwinąć swoje umiejętności w kierunku Web Developer w szkole
          programowania Kodilla.com. Dużą radość sprawia mi tworzenie nowych rzeczy. Nie samym kodowaniem człowiek żyje
          dlatego w wolnym czasie chodzę po górach oraz trenuję na siłowni.
        </p>
      </div>
    </div>
  </div>
</div>
