img {

  height: 85%;
  width: 85%;
}

.section-profile {
  padding: 30px;
}


img {
  padding: 15px;
}

p {
  padding: 15px;
}

.profile-container {
  background-color: rgb(231, 223, 223);
  height: 100vh;
}
