.weather-container {
  padding-top: 100px;
  height: 100vh;
}

h1 {
  padding-bottom: 85px;
  text-align: center;
  text-transform: uppercase;
}

th {
  padding: 15px;
  font-size: 20px;
  letter-spacing: 1.8px;

}

td {
  padding: 15px;
  font-size: 19px;
}

table {
  box-shadow: 4px 4px 10px black;
  width: 85%;
  margin: auto;
}
